<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Vampiro One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a5675ec23e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='https://unpkg.com/typewriter-effect@2.3.1/dist/core.js'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/retro_buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glitch.css') }}">
    <title id='page-title'>this quiz is about lyrics.</title>
  </head>
    
  <body>
        
    <!-- Intro page -->
    <div class="jumbotron jumbotron-fluid" id='intro'>

      <!-- Intro blurb -->
      <div id='blurb' class='blurb'></div>

      <!-- Start button -->
      <div id='start-button' class='wrapper'>
        <div role='button' class='retro-btn lg primary'>
          <a class='btn'>
            <span class='btn-inner'>
              <span class='content-wrapper'>
                <span class='btn-content'>
                  <span class='btn-content-inner' label="let us do this">
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>  
    </div >  

    <!-- Quiz page -->
    <div class="jumbotron jumbotron-fluid" id='quiz'>

      <div class="container glitch" id='title' data-text=">>> this quiz is about lyrics.">
        >>> this quiz is about lyrics.
      </div>
      <!-- <div class="container" id="quiz"> -->

      <div class='row' id='scores'>
        <div class='column score you'>
          your score<br><font size='+10'><span id='score-human'>0</span></font>
          </div>
        <div class='column score me'>
          my score<br><font size='+10'><span id='score-model'>0</span></font>
        </div>
      </div>
               
      <div class='terminal' id='terminal'>

      </div>     

<!--       <div id='progress-button' class='wrapper'>
        <div role='button' class='retro-btn lg primary'>
          <a class='btn' id='progress-button-two' >
            <span class='btn-inner'>
              <span class='content-wrapper'>
                <span class='btn-content'>
                  <span class='btn-content-inner' label="Next song please">
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>       
 -->
      <!-- <div class='correct'>
        <font size='-5'>the correct answer</font>
        <br>
        <div class='box'>test str</div>
      </div>
      <br> -->
          
      <!-- Main panel -->
      <div class= 'left-wrapper'>
        <div class='left'>
          <p class="lyric" id='lyric-section'>
            <span id='lyric'></span>
          </p>            
        </div>
      </div>
      <div class="right">
        <div id='bowie-button' class='wrapper'>
          <div role='button' class='retro-btn ar bowie'>
            <a class='btn disabled' > 
              <span class='btn-inner'>
                <span class='content-wrapper'>
                  <span class='btn-content'>
                    <span class='btn-content-inner' label="david bowie">
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div id='fitzgerald-button' class='wrapper'>
          <div role='button' class='retro-btn ar fitzgerald'>
            <a class='btn disabled' > 
              <span class='btn-inner'>
                <span class='content-wrapper'>
                  <span class='btn-content'>
                    <span class='btn-content-inner' label="ella fitzgerald">
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div id='parton-button' class='wrapper'>
          <div role='button' class='retro-btn ar parton'>
            <a class='btn disabled' > 
              <span class='btn-inner'>
                <span class='content-wrapper'>
                  <span class='btn-content'>
                    <span class='btn-content-inner' label="dolly parton">
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div id='dylan-button' class='wrapper'>
          <div role='button' class='retro-btn ar dylan'>
            <a class='btn disabled' > 
              <span class='btn-inner'>
                <span class='content-wrapper'>
                  <span class='btn-content'>
                    <span class='btn-content-inner' label="bob dylan">
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div id='john-button' class='wrapper'>
          <div role='button' class='retro-btn ar john'>
            <a class='btn disabled' > 
              <span class='btn-inner'>
                <span class='content-wrapper'>
                  <span class='btn-content'>
                    <span class='btn-content-inner' label="elton john">
                    </span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

      <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    </div>                   
  </body>
    
</html> 